{% extends "base.html" %}
{% block content %}
  <div class="product-content1">
    <div class="parallax" ></div>
    <div class="ccc-box">
      <div class="product-box" id="ps1">
        <a><img src="{{ url_for('static', filename='images/1C.png') }}" alt="Product1"></a>
        <p><br>CCC Controller S3++</p>
      </div>
      <div class="product-box">
        <a><img src="{{ url_for('static', filename='images/2C.png') }}" alt="Product1"></a>
        <p><br>CCC Prodigy</p>
      </div>
  </div>

  <div class="product-content1">
    <div class="parallax1"></div>
    <div class="remosa-box">
      <div class="product-box1" id="ps2">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/1.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/2.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/3.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
        <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/4.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/5.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/6.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/7.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/8.png') }}" alt="Product1"></a>
        <p><br>.</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/9.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/10.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/1Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/2Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/3Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/4Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/5Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/6Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/7Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/8Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/9Z.png') }}" alt="Product1"></a>
        <p><br></p>
      </div>

    </div>
  </div>

{% endblock %}
