{% extends "base.html" %}
{% block content %}
  <div class="product-content1">
    <div class="parallax"></div>
    <div style="width:100%;height:auto;background-color:#cccccc;"><a class="ccc"><img src="{{ url_for('static', filename='images/ccc.png') }}" alt="Partners Logo" class="logo_ccc"></a></div>
    <div class="ccc-box">
      <div class="product-box" id="ps1">
        <a><img src="{{ url_for('static', filename='images/1C.png') }}" alt="Product1"></a>
        <p><br>CCC Controller S3++</p>
      </div>
      <div class="product-box">
        <a><img src="{{ url_for('static', filename='images/2C.png') }}" alt="Product1"></a>
        <p><br>CCC Prodigy</p>
      </div>
  </div>

  <div class="product-content1">
    <div class="parallax1"></div>
    <div style="width:100%;height:auto;background-color:#cccccc;"><a class="imi"><img src="{{ url_for('static', filename='images/imi.png') }}" alt="Partners Logo" class="logo_imi"></a></div>
    <div class="remosa-box">
      <div class="product-box1" id="ps2">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/1.png') }}" alt="Product1"></a>
        <p><br>IMI VIVO Electrolyser</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/2.png') }}" alt="Product1"></a>
        <p><br>IMI Diverter Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/3.png') }}" alt="Product1"></a>
        <p><br>IMI Slide Valves</p>
      </div>
        <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/4.png') }}" alt="Product1"></a>
        <p><br>IMI Double Clapet Isolation Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/5.png') }}" alt="Product1"></a>
        <p><br>IMI Butterfly Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/6.png') }}" alt="Product1"></a>
        <p><br>IMI RHPU</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/7.png') }}" alt="Product1"></a>
        <p><br>IMI Catalyst Withdrawal Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/8.png') }}" alt="Product1"></a>
        <p><br>FCC Air Blower Line Check Valve</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/9.png') }}" alt="Product1"></a>
        <p><br>FCC Hollow or Cone Type Plug Valve</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMI-REMOSA/10.png') }}" alt="Product1"></a>
        <p><br>IMI Active Purge Panel</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/1Z.png') }}" alt="Product1"></a>
        <p><br>IMI Non-Return Check Butterfly Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/2Z.png') }}" alt="Product1"></a>
        <p><br>Fluidised Catalytic Cracking Unit Fractionator Isolation Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/3Z.png') }}" alt="Product1"></a>
        <p><br>Delayed Coking Top Unheading Valve</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/4Z.png') }}" alt="Product1"></a>
        <p><br>Delayed Coking Bottom Unheading Valve</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/5Z.png') }}" alt="Product1"></a>
        <p><br>Delayed Coking Bottom Unheading with Compact Design</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/6Z.png') }}" alt="Product1"></a>
        <p><br>IMI Wedge Isolation Valve</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/7Z.png') }}" alt="Product1"></a>
        <p><br>IMI Ethylene Transfer Line and Decoking Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/8Z.png') }}" alt="Product1"></a>
        <p><br>Fluidised Catalytic Cracking Unit Flue Gas Isolation Valves</p>
      </div>
      <div class="product-box1">
        <a><img src="{{ url_for('static', filename='images/IMIZJ/9Z.png') }}" alt="Product1"></a>
        <p><br>IMI Compact FCC HPCU</p>
      </div>
    </div>
  </div>

  <div class="product-content1">
    <div class="parallax2"></div>
    <div style="width:100%;height:auto;background-color:#cccccc;"><a class="wika"><img src="{{ url_for('static', filename='images/wika.png') }}" alt="Partners Logo" class="logo_wika"></a></div>
    <div class="wika-box">
      <div class="product-box2" id="ps3">
        <a><img src="{{ url_for('static', filename='images/wika/1W.png') }}" alt="Product1"></a>
        <p><br>Pressure Gauge</p>
      </div>
      <div class="product-box2">
        <a><img src="{{ url_for('static', filename='images/wika/2W.png') }}" alt="Product1"></a>
        <p><br>Pressure Sensor</p>
      </div>
      <div class="product-box2">
        <a><img src="{{ url_for('static', filename='images/wika/3W.png') }}" alt="Product1"></a>
        <p><br>Process Transmitters</p>
      </div>
  </div>
{% endblock %}
